In [1]:
#SCI-KIT LEARN REVISION
#end to end workflow

In [13]:
import pandas as pd
import numpy as np
heart_disease=pd.read_csv("Desktop/heart-disease.csv")

In [5]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
x=heart_disease.drop("target",axis=1)
y=heart_disease["target"]

In [8]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
clf.fit(X_train,y_train)
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2
113,43,1,0,110,211,0,1,161,0,0.0,2,0,3
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3

In [16]:
y_preds=clf.predict(X_test)
y_preds

array([0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [17]:
y_test

289    0
272    0
301    0
170    0
64     1
      ..
302    0
135    1
264    0
119    1
53     1
Name: target, Length: 61, dtype: int64

In [18]:
#evaluate
clf.score(X_train,y_train)

1.0

In [19]:
clf.score(X_test,y_test)

0.7213114754098361

In [21]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.73      0.59      0.65        27
           1       0.72      0.82      0.77        34

    accuracy                           0.72        61
   macro avg       0.72      0.71      0.71        61
weighted avg       0.72      0.72      0.72        61

In [22]:
confusion_matrix(y_test,y_preds)

array([[16, 11],
       [ 6, 28]], dtype=int64)

In [23]:
accuracy_score(y_test,y_preds)

0.7213114754098361

In [29]:
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model Accuracy on test set:{clf.score(X_test,y_test)*100}%")
    print()

Trying model with 10 estimators...
Model Accuracy on test set:77.04918032786885%

Trying model with 20 estimators...
Model Accuracy on test set:75.40983606557377%

Trying model with 30 estimators...
Model Accuracy on test set:75.40983606557377%

Trying model with 40 estimators...
Model Accuracy on test set:72.1311475409836%

Trying model with 50 estimators...
Model Accuracy on test set:73.77049180327869%

Trying model with 60 estimators...
Model Accuracy on test set:73.77049180327869%

Trying model with 70 estimators...
Model Accuracy on test set:77.04918032786885%

Trying model with 80 estimators...
Model Accuracy on test set:72.1311475409836%

Trying model with 90 estimators...
Model Accuracy on test set:73.77049180327869%

In [30]:
#6 saving and loading
import pickle
pickle.dump(clf,open("random_forest_model.pkl","wb"))

In [33]:
loaded_model=pickle.load(open("random_forest_model.pkl","rb"))
loaded_model.score(X_test,y_test)

0.7377049180327869